body {
	font-family: 'Nexa_Light';
}

.boton_principal{
    font-family:'Nexa_Bold';
    color:white;
    background-color: red;
}

.fondo_home{
	background-image: url("../images/fondo.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

.botonesModal{
	padding: 7px;
	padding-left: 20px;
	padding-right: 20px;
	background: #B61F24;
	color: #FFF;
	border: none;
	cursor: pointer;
} 

.navbar{
    font-family:'Nexa_Bold';
	font-size: 12px;
	margin-bottom: 0px !important;
}

.cuerpo{
	padding-top: 1%;
}


.inputLargos{
	width: 100%;
	height: 32px;
	padding: 8px;
	margin-bottom: 8px;
	border: solid 1px rgba(0,0,0, .5);
}

.numerosSesiones{
	width: 50px;
	height: 50px;
	padding: 8px;
	margin-bottom: 8px;
	border: solid 1px rgba(0,0,0, .5);
}

.textArea{
	width: 100%;
	padding: 8px;
	margin-bottom: 8px;
	border: solid 1px rgba(0,0,0, .5);
}
